* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
.body {
  background-color: #f7fafc;
  padding: 10px 100px;
}

/* Hero Section */
.hero {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

/* Main Content */
.main-content {
  display: flex;
  gap: 11px;
  margin: 20px 14px;
  align-items: stretch;
}

/* ========================== LEFT ASIDE ========================== */
.left-aside {
  width: 250px;
}

.left-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.left-li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px; /* smooth hover shape */
}

.left-a {
  text-decoration: none;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
}

.content {
  position: relative;
}

.content-div {
  position: absolute;
  top: 53px;
  left: 45px;
}

.content-img {
  /* position: relative; */
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.content-span {
  font-size: 28px;
  color: #1c1c1c;
}

.content-h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1c1c1c;
}

.content-button {
  margin: 10px 0;
  width: 119px;
  height: 40px;

  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.content-button:hover {
  background-color: #e5f1ff;
}

/* ========================== RIGHT SIDE ========================== */
.right-side {
  width: 250px;
}

.right-login-container {
  display: flex;
  border: 1px solid #e3f0ff;
  background-color: #e3f0ff;
  height: 150px;
  border-radius: 6px;
  padding: 8px 0;
  justify-content: center;
}

/* Login Box */
.login-id {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-id p {
  font-size: 16px;
}

/* Buttons Wrapper */
.id-button {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

/* JOIN Button */
.join-btn {
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(18, 127, 255, 1) 0%,
    rgba(0, 103, 255, 1) 100%
  );
  color: white;
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;

  /* FIXED SMALL GAP */
  margin: 4px 0;
}

/* LOGIN Button */
.Login-btn {
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
  background: #ffffff;
  color: #0d6efd;
  padding: 8px;
  border-radius: 6px;
  font-weight: 500;

  /* FIXED SMALL GAP */
  margin: 4px 0;
}

/* ========================== TEXT DIVS ========================== */
.text-div-1 {
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
  background: #f38332;
  height: 95px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  line-height: 100%;
}

.text-div-2 {
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
  background: #55bdc3;
  height: 95px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  line-height: 100%;
}
