<link rel="stylesheet" href="../css/footer.css" />

<footer class="design-wrapper">
  <div class="footer-container">
    <!-- Left Section: Brand Info -->
    <div class="brand-section">
      <div class="brand-title">
        <img src="../assets/Image/logo-symbol.png" alt="" />
        <span>Brands</span>
      </div>
      <p class="brand-tagline">Best information about the company</p>
      <p class="brand-tagline">gles here but now lorem ipsum is</p>
      <!-- <p class="brand-year">2023 Ecommerce.</p> -->
      <div class="socail-icon-container">
        <a href="https://www.facebook.com/share/1D3YWQvSkh/" class="socail-btn" target="_blank">
          <img src="../assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="https://github.com/afnanmuhammad" class="socail-btn" target="_blank"
          style="display: flex; justify-content: center; align-items: center; text-decoration: none;">
          <i class="fa-brands fa-github" style="color: white; font-size: 18px;"></i>
        </a>
        <a href="https://www.linkedin.com/in/m-afnan" class="socail-btn" target="_blank">
          <img src="../assets/icons/linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://www.instagram.com/afno_bangash" class="socail-btn" target="_blank">
          <img src="../assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="#" class="socail-btn">
          <img src="../assets/icons/youtube.svg" alt="Youtube" />
        </a>
      </div>
    </div>

    <!-- Right Section: Links -->
    <div class="links-section">
      <!-- About Column -->
      <div class="link-column">
        <h3 class="column-title">About</h3>
        <ul class="link-list">
          <li><a href="/pages/about.html">About Us</a></li>
          <li><a href="/pages/store-locator.html">Find store</a></li>
          <li><a href="/pages/product-list.html">Categories</a></li>
          <li><a href="/pages/blogs.html">Blogs</a></li>
        </ul>
      </div>

      <!-- Partnership Column -->
      <div class="link-column">
        <h3 class="column-title">Partnership</h3>
        <ul class="link-list">
          <li><a href="/pages/about.html">About Us</a></li>
          <li><a href="/pages/store-locator.html">Find store</a></li>
          <li><a href="/pages/product-list.html">Categories</a></li>
          <li><a href="/pages/blogs.html">Blogs</a></li>
        </ul>
      </div>

      <!-- Information Column -->
      <div class="link-column">
        <h3 class="column-title">Information</h3>
        <ul class="link-list">
          <li><a href="/pages/help.html">Help Center</a></li>
          <li><a href="/pages/refund.html">Money Refund</a></li>
          <li><a href="/pages/shipping.html">Shipping</a></li>
          <li><a href="/pages/contact.html">Contact us</a></li>
        </ul>
      </div>

      <!-- For users Column -->
      <div class="link-column">
        <h3 class="column-title">For users</h3>
        <ul class="link-list">
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">My Orders</a></li>
        </ul>
      </div>

      <!-- Get app Column -->
      <div class="link-column">
        <h3 class="column-title">Get app</h3>
        <div class="app-badges">
          <button class="app-badge">
            <img src="../assets/Image/Misc/market-button.png" alt="" />
          </button>
          <button class="app-badge">
            <img src="../assets/Image/Misc/Group.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="copyright-section">
    <p>© 2025 Ecommerce.</p>
    <img src="../assets/Image/flags/pak.jpg" alt="" />
  </div>
</footer>