<link rel="stylesheet" href="../css/header.css" />

<header class="navbar">
  <!-- TOP BAR -->
  <div class="top-bar">
    <!-- Logo -->
    <div class="logo">
      <img
        src="../assets/Image/logo-symbol.png"
        alt="logo"
        class="logo-image"
      />
      <span>Brands</span>
    </div>

    <!-- Search Bar -->
    <div class="search-container">
      <input type="text" placeholder="Search" class="search-input" />

      <select class="category-select">
        <option value="all-categories" class="category-potion">
          All Categories
        </option>
        <option value="hot-offers" class="category-potion">Hot offers</option>
        <option value="gift-boxes" class="category-potion">Gift boxes</option>
        <option value="projects" class="category-potion">Projects</option>
        <option value="menu-item" class="category-potion">Menu item</option>
      </select>

      <button type="button" class="search-button">Search</button>
    </div>

    <!-- Icons -->
    <div class="icons-container">
      <button class="icon">
        <img src="../assets/icons/user.png" alt="profile" />
        <span>Profile</span>
      </button>
      <button class="icon">
        <img src="../assets/icons/message.png" alt="message" />
        <span>Message</span>
      </button>
      <button class="icon">
        <img src="../assets/icons/order.png" alt="order" /> <span>Orders</span>
      </button>
      <button class="icon">
        <img src="../assets/icons/cart.png" alt="cart" /> <span>My Cart</span>
      </button>
    </div>
  </div>
  <!-- END TOP BAR -->

  <!-- NAVIGATION BAR -->
  <div class="nav-bar-container">
    <nav class="nav-bar">
      <button class="menu-button">
        <img src="../assets/icons/button.png" alt="menu" class="menu-btn" />
      </button>

      <ul class="nav-links">
        <li><a href="#">All Categories</a></li>
        <li><a href="#">Hot offers</a></li>
        <li><a href="#">Gift boxes</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Menu item</a></li>
      </ul>

      <div class="dropdown-container">
        <button class="dropdown-btn">
          Help
          <span><img src="../assets/Image/control/Vector.png " alt="" /></span>
        </button>
      </div>

      <!-- <select class="lang-select">
        <option value="">Help</option>
        <option value="">Track Order</option>
        <option value="">Returns</option>
        <option value="">Support</option>
      </select> -->
    </nav>

    <!-- RIGHT SIDE (Language + Country) -->
    <!-- <div class="nav-right">
      <select class="language">
        <option value="english">English</option>
        <option value="spanish">Spanish</option>
        <option value="french">French</option>
      </select> -->

    <!-- <select class="country-flag">
        <option value="us">🇺🇸 USA <img src="../assets/Image/flags/AE@2x.png" alt=""/></option>
        <option value="uk">🇬🇧 UK</option>
        <option value="fr">🇫🇷 FR</option>
      </select> -->

    <!-- payment  -->
    <div class="dropdown-container">
      <div class="">
        <button class="payment">
          English, USD
          <span><img src="../assets/Image/control/Vector.png" alt="" /></span>
        </button>
      </div>

      <!-- select flage and  countary -->
      <div class="flage-container">
        <button class="select-countary">
          China<img src="../assets/Image/flags/CN@2x.png" class="flage-img" />
        </button>
        <button class="dropdown-btn">
          <img src="../assets/Image/control/Vector.png " alt="" />
        </button>
      </div>
    </div>
  </div>
</header>
