body {
  background-color: #f7fafc;
}

.category-container {
  position: relative;
}

.nav-page {
  margin-left: 40px;
  width: 100%;
  height: 64px;
}

.ul-page {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ul-page li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between text and arrow */
  padding: 20px 0;
}

.ul-page li img {
  margin-top: 5px;
  width: 6px;
  height: 10px;
  object-fit: contain;
  display: block;
  opacity: 0.5;
}

.ul-page a {
  text-decoration: none;
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
/* ===============aside page section=================== */
.aside-page {
  position: absolute;
  top: 70px;
  left: 132px;
  width: 240px;
  height: 1448px;
  border-top: 1px solid #dee2e7;
  padding: 10px 0;
}

.aside-pag-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
  /* gap: 15px; */
}

.aside-pag-ul li {
  list-style: none;
  display: flex;
  /* align-items: center; */
  gap: 100px;
  /* padding: 20px 0; */
}

.aside-pag-ul button {
  border: none;
  outline: none;
  background-color: #f7fafc;
  font-weight: 600;
  line-height: 100%;
}
.aside-pag-ul img {
  margin-top: 5px;
  width: 12px;
  height: 7.41xpx;
  object-fit: contain;
  display: block;
  opacity: 0.5;
}
.aside-pag-ul a {
  text-decoration: none;
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
